In [1]:
import numpy as np
import pandas as pd
import os
from pathlib import Path, PosixPath
from tqdm import tqdm
import sys
import tensorflow as tf
from typing import List
import json

In [2]:
CREATE_CSV_FILES = True
CAMELS_COMBINED = True
root_path = "/content/gdrive/MyDrive/Colab Datasets/Hydrology/us"

from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

# Create csv Files

## Read Forcing Files

In [5]:
def read_forcing_file(fpath: PosixPath):
    basin_id = int(fpath.name.split('_')[0])
    data = pd.read_csv(fpath, delim_whitespace=True, skiprows=3, parse_dates=[[0,1,2]])

    gauge_lat, gauge_elv_m, basin_area_m2  = np.genfromtxt(fpath, max_rows=3)

    data["basin_id"] = basin_id
    data["gauge_lat"] = gauge_lat
    data["gauge_elv(m)"] = gauge_elv_m
    data["basin_area(m2)"] = int(basin_area_m2)

    data.set_index(['basin_id', 'Year_Mnth_Day'], inplace=True)

    return data

def read_forcing_data(data_dir: str):
    files = list(Path(data_dir).glob('**/*_forcing_leap.txt'))

    data_list = []

    pbar = tqdm(files, file=sys.stdout, position=0)
    for fpath in pbar:
        pbar.set_description("process " + fpath.name)
        data = read_forcing_file(fpath)

        data_list.append(data)

    forcing_data = pd.concat(data_list, axis=0, copy=False)

    return forcing_data

In [6]:
if CREATE_CSV_FILES:
  maurer_dir = root_path + "/basin_timeseries_v1p2_metForcing_obsFlow/basin_dataset_public_v1p2/basin_mean_forcing/maurer"
  forcing_data = read_forcing_data(maurer_dir)
  forcing_data.to_csv(root_path + "/forcing_data_us.csv")
  forcing_data

process 08195000_lump_maurer_forcing_leap.txt: 100%|██████████| 675/675 [08:26<00:00,  1.33it/s]

In [11]:
forcing_data

                        Hr   Dayl(s)  PRCP(mm/day)  SRAD(W/m2)  SWE(mm)  \
basin_id Year_Mnth_Day
4127918  1980-01-01     12  30438.21          0.03      153.26      0.0
         1980-01-02     12  30688.13          0.10      178.17      0.0
         1980-01-03     12  30758.40          0.03      231.17      0.0
         1980-01-04     12  30758.40          0.00      236.84      0.0
         1980-01-05     12  30758.40          0.46      202.74      0.0
...                     ..       ...           ...         ...      ...
8195000  2008-12-27     12  36288.00          0.02      288.51      0.0
         2008-12-28     12  36289.87          0.01      372.77      0.0
         2008-12-29     12  36311.07          0.00      391.41      0.0
         2008-12-30     12  36381.23          0.00      398.28      0.0
         2008-12-31     12  36401.79          0.04      293.33      0.0

                        Tmax(C)  Tmin(C)  Vp(Pa)  gauge_lat  gauge_elv(m)  \
basin_id Year_Mnth_Day
4127918  1980-01-01       -1.17    -1.17  399.96      46.21         265.0
         1980-01-02       -5.34    -5.34  271.42      46.21         265.0
         1980-01-03      -12.35   -12.35  134.96      46.21         265.0
         1980-01-04      -13.10   -13.10  114.45      46.21         265.0
         1980-01-05      -11.54   -11.54  134.06      46.21         265.0
...                         ...      ...     ...        ...           ...
8195000  2008-12-27       18.73    18.73  783.07      29.91         686.0
         2008-12-28       10.55    10.55  401.43      29.91         686.0
         2008-12-29        6.07     6.07  240.96      29.91         686.0
         2008-12-30        8.23     8.23  238.01      29.91         686.0
         2008-12-31       10.45    10.45  318.16      29.91         686.0

                        basin_area(m2)
basin_id Year_Mnth_Day
4127918  1980-01-01          522953962
         1980-01-02          522953962
         1980-01-03          522953962
         1980-01-04          522953962
         1980-01-05          522953962
...                                ...
8195000  2008-12-27         1007074709
         2008-12-28         1007074709
         2008-12-29         1007074709
         2008-12-30         1007074709
         2008-12-31         1007074709

[7150275 rows x 11 columns]

## Read Discharge Files

In [6]:
def read_discharge_file(fpath: PosixPath, area):
    data = pd.read_csv(fpath, delim_whitespace=True, parse_dates=[[1,2,3]], header=0,
                       names=["basin_id", "Year", "Mnth", "Day", "QObs(mm/d)", "flag"])
    # normalize discharge from cubic feed per second to mm per day
    data["QObs(mm/d)"] = 28316846.592 * data["QObs(mm/d)"] * 86400 / (area * 10**6)

    data.set_index(['basin_id', 'Year_Mnth_Day'], inplace=True)

    return data


def read_discharge_data(data_dir: str):
    files = list(Path(data_dir).glob('**/*_streamflow_qc.txt'))

    data_list = []

    pbar = tqdm(files, file=sys.stdout, position=0)
    for fpath in pbar:
        pbar.set_description("process " + fpath.name)
        basin_id = int(fpath.name.split('_')[0])
        area = forcing_data.loc[basin_id].iloc[0]['basin_area(m2)']

        data = read_discharge_file(fpath, area)

        data_list.append(data)

    discharge_data = pd.concat(data_list, axis=0, copy=False)

    return discharge_data

In [21]:
if CREATE_CSV_FILES:
  streamflow_dir = root_path + "/basin_timeseries_v1p2_metForcing_obsFlow/basin_dataset_public_v1p2/usgs_streamflow"
  discharge_data = read_discharge_data(streamflow_dir)
  discharge_data.to_csv(root_path + "/discharge_data_us.csv")
  discharge_data

process 08324000_streamflow_qc.txt: 100%|██████████| 674/674 [00:37<00:00, 17.96it/s]

## Read Attributes Files

In [7]:
def read_attributes(data_dir: str):
    files = list(Path(data_dir).glob('camels_*.txt'))

    data_list = []

    pbar = tqdm(files, file=sys.stdout, position=0)
    for fpath in pbar:
        pbar.set_description("process " + fpath.name)
        data = pd.read_csv(fpath, delimiter=";", index_col="gauge_id")

        data_list.append(data)

    attributes = pd.concat(data_list, axis=1, copy=False)

    return attributes

In [8]:
if CREATE_CSV_FILES:
  attributes_dir = root_path + "/camels_attributes_v2.0"
  attr = read_attributes(attributes_dir)
  attr.to_csv(root_path + "/attributes_us.csv")
  attr

process camels_vege.txt: 100%|██████████| 7/7 [00:02<00:00,  2.42it/s]

# Read csv Files

In [19]:
BASIN_COL = 'basin_id'
DATE_COL = 'Year_Mnth_Day'

In [12]:
# read csvs
attr_p = pd.read_csv(root_path + "/attributes_us.csv")
discharge_p = pd.read_csv(root_path + "/discharge_data_us.csv", dtype=None, parse_dates=[1])
forcing_p = pd.read_csv(root_path + "/forcing_data_us.csv", dtype=None, parse_dates= [1])

In [19]:
attr_p

,gauge_id,p_mean,pet_mean,p_seasonality,frac_snow,aridity,high_prec_freq,high_prec_dur,high_prec_timing,low_prec_freq,...,area_geospa_fabric,frac_forest,lai_max,lai_diff,gvf_max,gvf_diff,dom_land_cover_frac,dom_land_cover,root_depth_50,root_depth_99
0,1013500,3.126679,1.971555,0.187940,0.313440,0.630559,12.95,1.348958,son,202.20,...,2303.95,0.9063,4.167304,3.340732,0.804567,0.371648,0.883452,Mixed Forests,NaN,NaN
1,1022500,3.608126,2.119256,-0.114530,0.245259,0.587356,20.55,1.205279,son,233.65,...,620.38,0.9232,4.871392,3.746692,0.863936,0.337712,0.820493,Mixed Forests,0.237435,2.238444
2,1030500,3.274405,2.043594,0.047358,0.277018,0.624111,17.15,1.207746,son,215.60,...,3676.09,0.8782,4.685200,3.665543,0.858502,0.351393,0.975258,Mixed Forests,NaN,NaN
3,1031500,3.522957,2.071324,0.104091,0.291836,0.587950,18.90,1.148936,son,227.35,...,766.53,0.9548,4.903259,3.990843,0.870668,0.398619,1.000000,Mixed Forests,0.250000,2.400000
4,1047000,3.323146,2.090024,0.147776,0.280118,0.628929,20.10,1.165217,son,235.90,...,904.94,0.9906,5.086811,4.300978,0.891383,0.445473,0.850450,Mixed Forests,0.241027,2.340180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,14309500,4.977781,3.122204,-0.995847,0.061255,0.627228,15.10,1.776471,djf,222.65,...,226.31,1.0000,4.227902,1.986325,0.883414,0.115741,1.000000,Evergreen Needleleaf Forest,0.170000,1.800000
667,14316700,4.543400,2.277630,-0.821172,0.176337,0.501305,14.75,1.446078,djf,214.85,...,588.01,1.0000,4.859652,2.828735,0.914354,0.171176,1.000000,Evergreen Needleleaf Forest,0.170000,1.800000
668,14325000,6.297437,2.434652,-0.952055,0.030203,0.386610,14.60,1.467337,djf,219.05,...,444.92,1.0000,4.150730,1.867148,0.873517,0.115977,0.997677,Evergreen Needleleaf Forest,0.170186,1.801394
669,14362250,2.781676,3.325188,-0.985486,0.141500,1.195390,20.45,1.786026,djf,260.35,...,43.88,1.0000,4.430338,2.451489,0.868294,0.117102,1.000000,Evergreen Needleleaf Forest,0.170000,1.800000
670,14400000,5.556071,2.279668,-1.015946,0.024330,0.410302,19.30,1.537849,djf,237.00,...,703.37,1.0000,3.218271,1.430863,0.743440,0.097405,1.000000,Evergreen Needleleaf Forest,0.170000,1.800000

In [15]:
forcing_p

,Hr,Dayl(s),PRCP(mm/day),SRAD(W/m2),SWE(mm),Tmax(C),Tmin(C),Vp(Pa),gauge_lat,gauge_elv(m),basin_area(m2)
0,12,30438.21,0.03,153.26,0.0,-1.17,-1.17,399.96,46.21,265.0,522953962
1,12,30688.13,0.10,178.17,0.0,-5.34,-5.34,271.42,46.21,265.0,522953962
2,12,30758.4,0.03,231.17,0.0,-12.35,-12.35,134.96,46.21,265.0,522953962
3,12,30758.4,0.00,236.84,0.0,-13.10,-13.10,114.45,46.21,265.0,522953962
4,12,30758.4,0.46,202.74,0.0,-11.54,-11.54,134.06,46.21,265.0,522953962
...,...,...,...,...,...,...,...,...,...,...,...
7150270,12,36288.0,0.02,288.51,0.0,18.73,18.73,783.07,29.91,686.0,1007074709
7150271,12,36289.87,0.01,372.77,0.0,10.55,10.55,401.43,29.91,686.0,1007074709
7150272,12,36311.07,0.00,391.41,0.0,6.07,6.07,240.96,29.91,686.0,1007074709
7150273,12,36381.23,0.00,398.28,0.0,8.23,8.23,238.01,29.91,686.0,1007074709
7150274,12,36401.79,0.04,293.33,0.0,10.45,10.45,318.16,29.91,686.0,1007074709

In [20]:
locs = np.union1d(np.union1d(forcing_p[BASIN_COL], discharge_p[BASIN_COL]), attr_p['gauge_id'])
Nloc = len(locs)

print(type(discharge_p[DATE_COL].dtypes))
print('Initial Nloc', Nloc)

<class 'numpy.dtypes.DateTime64DType'>
Initial Nloc 675

## Sanity Check

In [21]:
def remove_basins_globally(basins: List[int]):
  global discharge_p
  global forcing_p
  global attr_p
  global locs
  global Nloc

  print("removing", basins)

  discharge_p.drop(discharge_p[discharge_p[BASIN_COL].isin(basins)].index, inplace=True, errors='ignore')
  forcing_p.drop(forcing_p[forcing_p[BASIN_COL].isin(basins)].index, inplace=True, errors='ignore')
  attr_p.drop(attr_p[attr_p['gauge_id'].isin(basins)].index, inplace=True, errors='ignore')

  locs = np.setdiff1d(locs, basins)
  Nloc = len(locs)
  print('new Nloc', Nloc)

In [22]:
intersect = np.intersect1d(np.intersect1d(forcing_p[BASIN_COL], discharge_p[BASIN_COL]), attr_p['gauge_id'])

diff = np.setdiff1d(locs, intersect)
print("diff", diff)

if len(diff) > 0:
  remove_basins_globally(diff)

diff [1150900 6775500 6846500 9535100]
removing [1150900 6775500 6846500 9535100]
new Nloc 671

In [23]:
def find_time_range(df: pd.DataFrame):
  groups = df[[BASIN_COL, DATE_COL]].groupby([BASIN_COL])
  counts = groups.count()

  abnormal_cols = counts[counts[DATE_COL] < 1000].index.values

  if len(abnormal_cols) > 0:
    print('abnormal cols', abnormal_cols)
    remove_basins_globally(abnormal_cols)
    groups = df[[BASIN_COL, DATE_COL]].groupby([BASIN_COL])

  mins = groups.min()
  maxs = groups.max()

  min_d  = np.max(mins.values)
  max_d  = np.min(maxs.values)
  print("range", min_d, max_d)

  return min_d, max_d

In [24]:
min1, max1 = find_time_range(discharge_p)
min2, max2 = find_time_range(forcing_p)

range 1989-10-02T00:00:00.000000000 2009-09-30T00:00:00.000000000
range 1980-01-01T00:00:00.000000000 2008-12-31T00:00:00.000000000

In [25]:
InitialDate = max(min1, min2)
print("InitialDate ", InitialDate)

EndDate = min(max1, max2)
print("EndDate ", EndDate)

InitialDate  1989-10-02T00:00:00.000000000
EndDate  2008-12-31T00:00:00.000000000

In [26]:
# filter data sets based on the InitialDate and EndDate
discharge_p.drop(discharge_p[(discharge_p[DATE_COL] < InitialDate) | (discharge_p[DATE_COL] > EndDate)].index,
                 inplace=True, errors='ignore')
forcing_p.drop(forcing_p[(forcing_p[DATE_COL] < InitialDate) | (forcing_p[DATE_COL] > EndDate)].index,
                 inplace=True, errors='ignore')

In [27]:
# create basin meta data
basin_meta_p = forcing_p[[BASIN_COL, 'gauge_lat', 'gauge_elv(m)', 'basin_area(m2)']].copy()
basin_meta_p.drop_duplicates(inplace=True, ignore_index=True)

assert len(basin_meta_p) == Nloc

In [28]:
basin_meta_p

     basin_id  gauge_lat  gauge_elv(m)  basin_area(m2)
0     4127918      46.21         265.0       522953962
1     4059500      46.03         424.0      1164996450
2     4127997      45.03         326.0       497065152
3     4056500      46.35         264.0      2847769100
4     4027000      46.25         493.0      1545561957
..        ...        ...           ...             ...
666   8200000      29.64         506.0       247497024
667   8178880      29.78         655.0       849152968
668   8196000      29.70         668.0       326199006
669   8189500      28.61         106.0      1786327890
670   8195000      29.91         686.0      1007074709

[671 rows x 4 columns]

In [29]:
# drop metadata from forcing dataset
forcing_p.drop(['gauge_lat', 'gauge_elv(m)', 'basin_area(m2)'], axis=1, inplace=True, errors='ignore')

# create new average temperature column
forcing_p['Tmean(C)'] = (forcing_p['Tmin(C)'] + forcing_p['Tmax(C)'])/2
print(discharge_p.columns)

Index(['basin_id', 'Year_Mnth_Day', 'QObs(mm/d)', 'flag'], dtype='object')

## Dynamic Data

In [30]:
input_forcing_fields = ['Year_Mnth_Day', 'basin_id', 'PRCP(mm/day)', 'Tmean(C)']
input_discharge_fields = ['Year_Mnth_Day', 'basin_id', 'QObs(mm/d)']

forcing_p[input_forcing_fields]

        Year_Mnth_Day  basin_id  PRCP(mm/day)  Tmean(C)
3562       1989-10-02   4127918          1.19     12.25
3563       1989-10-03   4127918          0.41      4.77
3564       1989-10-04   4127918          0.05      2.54
3565       1989-10-05   4127918          8.07      3.44
3566       1989-10-06   4127918          7.04      5.92
...               ...       ...           ...       ...
7150270    2008-12-27   8195000          0.02     18.73
7150271    2008-12-28   8195000          0.01     10.55
7150272    2008-12-29   8195000          0.00      6.07
7150273    2008-12-30   8195000          0.00      8.23
7150274    2008-12-31   8195000          0.04     10.45

[4717801 rows x 4 columns]

In [31]:
discharge_p[input_discharge_fields]

        Year_Mnth_Day  basin_id  QObs(mm/d)
3561       1989-10-02   2070000   17.325588
3562       1989-10-03   2070000    4.856415
3563       1989-10-04   2070000    2.896348
3564       1989-10-05   2070000    2.310078
3565       1989-10-06   2070000    2.030069
...               ...       ...         ...
8435630    2008-12-27   8324000    0.038203
8435631    2008-12-28   8324000    0.046246
8435632    2008-12-29   8324000    0.048257
8435633    2008-12-30   8324000    0.050268
8435634    2008-12-31   8324000    0.050268

[4717801 rows x 3 columns]

In [32]:
input_p = forcing_p[input_forcing_fields].merge(discharge_p[input_discharge_fields], on=[BASIN_COL, DATE_COL], copy=True, validate="1:1")
input_p

        Year_Mnth_Day  basin_id  PRCP(mm/day)  Tmean(C)  QObs(mm/d)
0          1989-10-02   4127918          1.19     12.25    0.285381
1          1989-10-03   4127918          0.41      4.77    0.280703
2          1989-10-04   4127918          0.05      2.54    0.294738
3          1989-10-05   4127918          8.07      3.44    0.290059
4          1989-10-06   4127918          7.04      5.92    0.369592
...               ...       ...           ...       ...         ...
4717796    2008-12-27   8195000          0.02     18.73    0.080170
4717797    2008-12-28   8195000          0.01     10.55    0.077740
4717798    2008-12-29   8195000          0.00      6.07    0.075311
4717799    2008-12-30   8195000          0.00      8.23    0.077740
4717800    2008-12-31   8195000          0.04     10.45    0.080170

[4717801 rows x 5 columns]

In [33]:
input_p.sort_values([DATE_COL, BASIN_COL], inplace=True, ignore_index=True)

In [34]:
input_p['PRCP(mm/day)'] = input_p['PRCP(mm/day)'].astype('float')
input_p.rename(columns = {'PRCP(mm/day)':'precipitation_us'}, inplace = True)

In [35]:
assert len(input_p) == len (forcing_p) and len(input_p) == len (discharge_p)

In [36]:
# group intervals of NaN values
def find_intervals(df, date, column):
  m = df[column].isna()
  r = [[*g[date]] for _, g in df[m].groupby((~m).cumsum())]
  return r


# get intervals containing NaN values in dataframe
def get_nan_intervals(df):
  catchments = list(df['basin_id'].unique())

  NaN_intervals = []
  ids = []
  for c in catchments:
    sub_df = df[df['basin_id'] == c]
    ranges = find_intervals(sub_df, 'Year_Mnth_Day', 'precipitation_us')
    if len(ranges) > 0:
      ranges = [len(x) for x in ranges]
      NaN_intervals.append(ranges)
      ids.append(c)

  return NaN_intervals, ids

In [37]:
BasicInputTimeSeries = input_p.to_numpy()

In [38]:
print(BasicInputTimeSeries.shape)
print(BasicInputTimeSeries[0])

(4717801, 5)
[Timestamp('1989-10-02 00:00:00') 1013500 10.38 8.71 0.3215057525056905]

## Static Data

In [39]:
INVALID_ATTR= []

if CAMELS_COMBINED:
  INVALID_ATTR = [
      'gauge_name', 'huc_02', 'area_geospa_fabric', 'lai_max', 'lai_diff', 'gvf_max', 'gvf_diff', 'root_depth_XX',
      'soil_depth_pelletier', 'soil_depth_statsgo', 'soil_porosity', 'soil_conductivity', 'max_water_content',
      'sand_frac', 'silt_frac', 'clay_frac', 'water_frac', 'organic_frac', 'other_frac', 'geo_class_1st', 'geo_1st_class',
      'glim_1st_class_frac', 'geo_2nd_class', 'glim_2nd_class_frac', 'dom_land_cover_frac', 'carbonate_rocks_frac',
      'geo_class_1st_frac', 'geo_class_2nd', 'geo_class_2nd_frac', 'carb_rocks_frac', 'geol_porostiy',
      'geol_permeability', 'root_depth_50', 'root_depth_99', 'frac_forest', 'slope_mean', 'geol_1st_class', 'geol_2nd_class'
  ]


# else:
#   INVALID_ATTR = [
#       'gauge_name', 'huc_02', 'area_geospa_fabric', 'lai_max', 'lai_diff', 'gvf_max', 'gvf_diff', 'root_depth_XX',
#       'soil_depth_pelletier', 'soil_depth_statsgo', 'soil_porosity', 'soil_conductivity', 'max_water_content',
#       'sand_frac', 'silt_frac', 'clay_frac', 'water_frac', 'organic_frac', 'other_frac', 'geo_class_1st',
#       'geo_class_1st_frac', 'geo_class_2nd', 'geo_class_2nd_frac', 'carb_rocks_frac', 'geol_porosity',
#       'geol_permeability', 'high_prec_timing', 'low_prec_timing', 'geol_1st_class', 'geol_2nd_class', 'dom_land_cover'
#   ]

In [40]:
attr_p['gauge_name'].tolist()

['Fish River near Fort Kent, Maine',
 'Narraguagus River at Cherryfield, Maine',
 'Mattawamkeag River near Mattawamkeag, Maine',
 'Piscataquis River near Dover-Foxcroft, Maine',
 'Carrabassett River near North Anson, Maine',
 'Diamond River near Wentworth Location, NH',
 'Wild River at Gilead, Maine',
 'Swift River near Roxbury, Maine',
 'Little Androscoggin River near South Paris, Maine',
 'OYSTER RIVER NEAR DURHAM, NH',
 'SMITH RIVER NEAR BRISTOL, NH',
 'PENDLETON HILL BROOK NEAR CLARKS FALLS, CT.',
 'MOUNT HOPE RIVER NEAR WARRENVILLE, CT.',
 'LITTLE RIVER NEAR HANOVER, CT.',
 'MOOSE RIVER AT VICTORY, VT',
 'AMMONOOSUC RIVER AT BETHLEHEM JUNCTION, NH',
 'WELLS RIVER AT WELLS RIVER, VT',
 'EAST ORANGE BRANCH AT EAST ORANGE, VT',
 'AYERS BROOK AT RANDOLPH, VT',
 'WHITE RIVER AT WEST HARTFORD, VT',
 'PRIEST BROOK NEAR WINCHENDON, MA',
 'NORTH RIVER AT SHATTUCKVILLE, MA',
 'GREEN RIVER NEAR COLRAIN, MA',
 'WEST BRANCH WESTFIELD RIVER AT HUNTINGTON, MA',
 'HUBBARD RIVER NR. WEST HARTLAND, CT.',
 'INDIAN RIVER NEAR CLINTON, CT.',
 'GREEN RIVER AT WILLIAMSTOWN, MA',
 'SCHOHARIE CREEK AT PRATTSVILLE NY',
 'MANOR KILL AT WEST CONESVILLE NEAR GILBOA NY',
 'MINE KILL NEAR NORTH BLENHEIM NY',
 'RONDOUT CREEK NEAR LOWES CORNERS NY',
 'TUCKAHOE RIVER AT HEAD OF RIVER NJ',
 'EAST BR DELAWARE R AT MARGARETVILLE NY',
 'MILL BROOK NEAR DUNRAVEN NY',
 'TREMPER KILL NEAR ANDES NY',
 'WEST BRANCH DELAWARE RIVER AT WALTON NY',
 'BISCUIT BK ABOVE PIGEON BK AT FROST VALLEY NY',
 'NEVERSINK RIVER NEAR CLARYVILLE NY',
 'Bush Kill at Shoemakers, PA',
 'FLAT BROOK NEAR FLATBROOKVILLE NJ',
 'Brodhead Creek near Analomink, PA',
 'Jordan Creek near Schnecksville, PA',
 'MCDONALDS BRANCH IN LEBANON STATE FOREST NJ',
 'BEAVERDAM BRANCH AT HOUSTON, DE',
 'NASSAWANGO CREEK NEAR SNOW HILL, MD',
 'MANOKIN BRANCH NEAR PRINCESS ANNE, MD',
 'NANTICOKE RIVER NEAR BRIDGEVILLE, DE',
 'CHOPTANK RIVER NEAR GREENSBORO, MD',
 'OTSELIC RIVER AT CINCINNATUS NY',
 'Corey Creek near Mainesburg, PA',
 'Cowanesque River at Westfield, PA',
 'Towanda Creek near Monroeton, PA',
 'Fishing Creek near Bloomsburg, PA',
 'Waldy Run near Emporium, PA',
 'Driftwood Br Sinnemahoning Cr at Sterling Run, PA',
 'Sinnemahoning Creek at Sinnemahoning, PA',
 'Kettle Creek at Cross Fork, PA',
 'Young Womans Creek near Renovo, PA',
 'Marsh Creek at Blanchard, PA',
 'Pine Creek at Cedar Run, PA',
 'Blockhouse Creek near English Center, PA',
 'Lycoming Creek near Trout Run, PA',
 'Loyalsock Creek at Loyalsockville, PA',
 'Muncy Creek near Sonestown, PA',
 'Bald Eagle Creek at Tyrone, PA',
 'Bixler Run near Loysville, PA',
 'Sherman Creek at Shermans Dale, PA',
 'DEER CREEK AT ROCKS, MD',
 'WESTERN RUN AT WESTERN RUN, MD',
 'MORGAN RUN NEAR LOUISVILLE, MD',
 'CATTAIL CREEK NEAR GLENWOOD, MD',
 'MCMILLAN F NEAR FORT PENDLETON, MD',
 'SAVAGE RIVER NEAR BARTON, MD',
 'SOUTH BRANCH POTOMAC RIVER AT FRANKLIN, WV',
 'SO. BRANCH POTOMAC RIVER NR PETERSBURG, WV',
 'Tonoloway Creek near Needmore, PA',
 'NORTH RIVER NEAR STOKESVILLE, VA',
 'N F SHENANDOAH RIVER AT COOTES STORE, VA',
 'SMITH CREEK NEAR NEW MARKET, VA',
 'CEDAR CREEK NEAR WINCHESTER, VA',
 'CATOCTIN CREEK AT TAYLORSTOWN, VA',
 'BIG PIPE CREEK AT BRUCEVILLE, MD',
 'GOOSE CREEK NEAR LEESBURG, VA',
 'S F QUANTICO CREEK NEAR INDEPENDENT HILL, VA',
 'RAPPAHANNOCK RIVER AT REMINGTON, VA',
 'ROBINSON RIVER NEAR LOCUST DALE, VA',
 'RAPIDAN RIVER NEAR CULPEPER, VA',
 'PISCATAWAY CREEK NEAR TAPPAHANNOCK, VA',
 'DRAGON SWAMP AT MASCOT, VA',
 'JACKSON RIVER NEAR BACOVA, VA',
 'BACK CREEK NEAR SUNRISE, VA',
 'DUNLAP CREEK NEAR COVINGTON, VA',
 'POTTS CREEK NEAR COVINGTON, VA',
 'BULLPASTURE RIVER AT WILLIAMSVILLE, VA',
 'COWPASTURE RIVER NEAR CLIFTON FORGE, VA',
 'JOHNS CREEK AT NEW CASTLE, VA',
 'CRAIG CREEK AT PARR, VA',
 'TYE RIVER NEAR LOVINGSTON, VA',
 'PINEY RIVER AT PINEY RIVER, VA',
 'ROCKFISH RIVER NEAR GREENFIELD, VA',
 'HOLIDAY CREEK NEAR ANDERSONVILLE, VA',
 'STONY CREEK NEAR DINWIDDIE, VA',
 'NORTH MEHERRIN RIVER NEAR LUNENBURG, VA',
 'MEHERRIN RIVER NEAR LAWRENCEVILLE, VA',
 'POTECASI CREEK NEAR UNION, NC',
 'S F ROANOKE RIVER NEAR SHAWSVILLE, VA',
 'TINKER CREEK NEAR DALEVILLE, VA',
 'BLACKWATER RIVER NEAR ROCKY MOUNT, VA',
 'GOOSE CREEK NEAR HUDDLESTON, VA',
 'FALLING RIVER NEAR NARUNA, VA',
 'CUB CREEK AT PHENIX, VA',
 'SOUTH MAYO RIVER NEAR NETTLERIDGE, VA',
 'NORTH MAYO RIVER NEAR SPENCER, VA',
 'SANDY RIVER NEAR DANVILLE, VA',
 'HYCO CREEK NEAR LEASBURG, NC',
 'TAR RIVER NEAR TAR RIVER, NC',
 'LITTLE FISHING CREEK NEAR WHITE OAK, NC',
 'TRENT RIVER NEAR TRENTON, NC',
 'CANE CREEK NEAR ORANGE GROVE, NC',
 'FLAT CREEK NEAR INVERNESS, NC',
 'NORTHEAST CAPE FEAR RIVER NEAR CHINQUAPIN, NC',
 'ELK CREEK AT ELKVILLE, NC',
 'REDDIES RIVER AT NORTH WILKESBORO, NC',
 'ROARING RIVER NEAR ROARING RIVER, NC',
 'MITCHELL RIVER NEAR STATE ROAD, NC',
 'HUNTING CREEK NEAR HARMONY, NC',
 'BIG BEAR CR NR RICHFIELD, NC',
 'LITTLE RIVER NEAR STAR, NC',
 'CATAWBA R NR PLEASANT GARDENS, NC',
 'JOHNS RIVER AT ARNEYS STORE, NC',
 'HENRY FORK NEAR HENRY RIVER, NC',
 'JACOB FORK AT RAMSEY, NC',
 'COVE CREEK NEAR LAKE LURE, NC',
 'FIRST BROAD RIVER NEAR CASAR, NC',
 'CHATTOOGA RIVER NEAR CLAYTON, GA',
 'TALLULAH RIVER NEAR CLAYTON, GA',
 'KETTLE CREEK NEAR WASHINGTON, GA',
 'STEVENS CREEK NEAR MODOC, SC',
 'BEAVERDAM CREEK NEAR SARDIS, GA',
 'BLACK CREEK NEAR BLITCHTON, GA',
 'FALLING CREEK NEAR JULIETTE, GA',
 'TUCSAWHATCHEE CREEK NEAR HAWKINSVILLE, GA',
 'TURNPIKE CREEK NEAR MCRAE, GA',
 'MURDER CREEK BELOW EATONTON, GA',
 'ST. MARYS RIVER NR MACCLENNY, FLA.',
 'FT DRUM CREEK AT SUNSHINE ST PKY NEAR FT DRUM, FL',
 'BLACKWATER CREEK NEAR CASSIA, FL',
 'SOUTH FORK BLACK CREEK NR PENNEY FARMS, FLA.',
 'NORTH FORK BLACK CREEK NR MIDDLEBURG, FLA.',
 'CHARLIE CREEK NEAR GARDNER FL',
 'HORSE CREEK NEAR MYAKKA HEAD FL',
 'HORSE CREEK NEAR ARCADIA FL',
 'PRAIRIE CREEK NEAR FORT OGDEN FL',
 'MYAKKA RIVER AT MYAKKA CITY FL',
 'MANATEE RIVER NEAR MYAKKA HEAD FL',
 'BULLFROG CREEK NEAR WIMAUMA FL',
 'WITHLACOOCHEE RIVER NEAR CUMPRESSCO, FLA.',
 'LITTLE WITHLACOOCHEE RIVER AT RERDELL, FLA.',
 'SUWANNEE RIVER AT US 441, AT FARGO, GA',
 'SUWANNEE RIVER AT WHITE SPRINGS, FLA.',
 'FENHOLLOWAY RIVER NEAR FOLEY, FLA.',
 'SOPCHOPPY RIVER NR SOPCHOPPY, FLA.',
 'SOUTH FORK COWIKEE CREEK NEAR BATESVILLE AL',
 'TURKEY CREEK AT BYROMVILLE, GA',
 'KINCHAFOONEE CREEK NEAR DAWSON, GA',
 'CHOCTAWHATCHEE RIVER NEAR NEWTON, AL.',
 'PEA RIVER NEAR ARITON AL',
 'BLACKWATER RIVER NEAR BRADLEY AL',
 'CONECUH RIVER AT BRANTLEY AL',
 'PATSALIGA CREEK NEAR BRANTLEY AL',
 'MURDER CREEK NEAR EVERGREEN AL',
 'FAUSETT CREEK NEAR TALKING ROCK, GA',
 'MILL CREEK NEAR CRANDALL, GA',
 'TWO RUN CREEK NEAR KINGSTON, GA',
 'HATCHET CREEK BELOW ROCKFORD AL',
 'HILLABEE CREEK NEAR HACKNEYVILLE AL',
 'MULBERRY CREEK AT JONES AL',
 'PINE BARREN CREEK NEAR SNOW HILL, AL.',
 'RED BUD CREEK NR MOORES MILL, MS',
 'MUD CREEK NR FAIRVIEW, MS',
 'SIPSEY FORK NEAR GRAYSON AL',
 'NORTH RIVER NEAR SAMANTHA AL',
 'TURKEY CREEK NEAR TUSCALOOSA',
 'BINION CREEK BELOW GIN CREEK NEAR SAMANTHA AL',
 'ELLIOTTS CREEK AT MOUNDVILLE AL',
 'SATILPA CREEK NEAR COFFEEVILLE AL',
 'LEAF RIVER NR COLLINS, MS',
 'BOUIE CREEK NR HATTIESBURG, MS',
 'CYPRESS CREEK NR JANICE, MS',
 'RED CREEK AT VESTRY, MS',
 'ESCATAWPA RIVER NEAR AGRICOLA MS',
 'BILOXI RIVER AT WORTHAM, MS',
 'WOLF RIVER NR LANDON, MS',
 'Oswayo Creek at Shinglehouse, PA',
 'Kinzua Creek near Guffey, PA',
 'Brokenstraw Creek at Youngsville, PA',
 'French Creek near Wattsburg, PA',
 'Sevenmile Run near Rasselas, PA',
 'West Branch Clarion River at Wilcox, PA',
 'Buffalo Creek near Freeport, PA',
 'Little Pine Creek near Etna, PA',
 'TYGART VALLEY RIVER NEAR DAILEY, WV',
 'BLACKWATER R AT DAVIS, WV',
 'CHEAT RIVER NEAR PARSONS, WV',
 'BIG SANDY CREEK AT ROCKVILLE, WV',
 'BEAR CREEK AT FRIENDSVILLE, MD',
 'CASSELMAN RIVER AT GRANTSVILLE, MD',
 'Mill Creek near Coshocton OH',
 'Wakatomika Creek near Frazeysburg OH',
 'Shade River near Chester OH',
 'SOUTH FORK NEW RIVER NEAR JEFFERSON, NC',
 'NEW RIVER NEAR GALAX, VA',
 'CHESTNUT CREEK AT GALAX, VA',
 'LITTLE RIVER AT GRAYSONTOWN, VA',
 'WALKER CREEK AT BANE, VA',
 'GREENBRIER RIVER AT DURBIN, WV',
 'GREENBRIER RIVER AT BUCKEYE, WV',
 'WILLIAMS RIVER AT DYER, WV',
 'CRANBERRY RIVER NEAR RICHWOOD, WV',
 'TUG FORK AT WILLIAMSON, WV',
 'Upper Twin Creek at McGaw OH',
 'Ohio Brush Creek near West Union OH',
 'White Oak Creek near Georgetown OH',
 'Massies Creek at Wilberforce OH',
 'CUTSHIN CREEK AT WOOTON, KY',
 'GOOSE CREEK AT MANCHESTER, KY',
 'SOUTH FORK KENTUCKY RIVER AT BOONEVILLE, KY',
 'DIX RIVER NEAR DANVILLE, KY',
 'INDIAN-KENTUCK CREEK NR CANAAN, IND.',
 'BEECH FORK AT MAUD, KY',
 'NORTH FORK VERMILION RIVER NEAR BISMARCK, IL',
 'BIG RACCOON CREEK NEAR FINCASTLE IND',
 'NORTH FORK EMBARRAS RIVER NEAR OBLONG, IL',
 'PLUM CREEK NEAR BAINBRIDGE, IND.',
 'CLIFTY CREEK AT HARTSVILLE, IN',
 'MUSCATATUCK RIVER NEAR DEPUTY, IN',
 'BRUSH CREEK NEAR NEBRASKA, IN',
 'LUSK CREEK NEAR EDDYVILLE, IL',
 'FRENCH BROAD RIVER AT ROSMAN, NC',
 'BEETREE CREEK NEAR SWANNANOA, NC',
 'W F PIGEON R ABOVE LAKE LOGAN NR HAZELWOOD, NC',
 'EAST FORK PIGEON RIVER NEAR CANTON, NC',
 'CATALOOCHEE CREEK NEAR CATALOOCHEE, NC',
 'SOUTH TOE RIVER NEAR CELO, NC',
 'S F HOLSTON RIVER AT RIVERSIDE NR CHILHOWIE, VA',
 'S F HOLSTON RIVER NEAR DAMASCUS, VA',
 'WATAUGA RIVER NEAR SUGAR GROVE, NC',
 'N F HOLSTON RIVER NEAR SALTVILLE, VA',
 'LITTLE RIVER NEAR MARYVILLE, TN',
 'LITTLE TENNESSEE RIVER NEAR PRENTISS, NC',
 'CARTOOGECHAYE CREEK NEAR FRANKLIN, NC',
 'NANTAHALA RIVER NEAR RAINBOW SPRINGS, NC',
 'PAINT ROCK RIVER NEAR WOODVILLE AL',
 'LITTLE YELLOW CREEK EAST NR BURNSVILLE, MS',
 'BUFFALO RIVER NEAR FLAT WOODS, TN',
 'KNIFE RIVER NEAR TWO HARBORS, MN',
 'NEMADJI RIVER NEAR SOUTH SUPERIOR, WI',
 'BAD RIVER NEAR ODANAH, WI',
 'STURGEON RIVER NEAR SIDNAW, MI',
 'TRAP ROCK RIVER NEAR LAKE LINDEN, MI',
 'TAHQUAMENON RIVER NEAR PARADISE, MI',
 'MANISTIQUE RIVER NEAR MANISTIQUE, MI',
 'STURGEON RIVER NEAR NAHMA JUNCTION, MI',
 'MIDDLE BRANCH ESCANABA RIVER AT HUMBOLDT, MI',
 'FORD RIVER NEAR HYDE, MI',
 'POPPLE RIVER NEAR FENCE, WI',
 'WOLF RIVER AT LANGLADE, WI',
 'AUGUSTA CREEK NEAR AUGUSTA, MI',
 'FISH CREEK NEAR CRYSTAL, MI',
 'WHITE RIVER NEAR WHITEHALL, MI',
 'PERE MARQUETTE RIVER AT SCOTTVILLE, MI',
 'MANISTEE RIVER NEAR SHERMAN, MI',
 'PINE RIVER NEAR RUDYARD, MI',
 'STURGEON RIVER AT WOLVERINE, MI',
 'STONY CREEK NEAR ROMEO, MI',
 'Tiffin River at Stryker OH',
 'Tymochtee Creek at Crawford OH',
 'Honey Creek at Melmore OH',
 'Rock Creek at Tiffin OH',
 'Conneaut Creek at Conneaut OH',
 'Brandy Run near Girard, PA',
 'TONAWANDA CREEK AT ATTICA NY',
 'GENESEE RIVER AT WELLSVILLE NY',
 'CANASERAGA CREEK ABOVE DANSVILLE NY',
 'CAYUGA INLET NEAR ITHACA NY',
 'INDEPENDENCE RIVER AT DONNATTSBURG NY',
 'BLACK RIVER AT COVENTRY, VT',
 'SHEYENNE RIVER NR WARWICK, ND',
 'SHEYENNE RIVER NR COOPERSTOWN, ND',
 'BALDHILL CREEK NR DAZEY, ND',
 'WILD RICE RIVER AT TWIN VALLEY, MN',
 'MIDDLE RIVER AT ARGYLE, MN',
 'WINTERING RIVER NR KARLSRUHE, ND',
 'WILLOW CREEK NR WILLOW CITY, ND',
 'VERMILION RIVER NR CRANE LAKE, MN',
 'LITTLE FORK RIVER AT LITTLEFORK, MN',
 'WHETSTONE RIVER NEAR BIG STONE CITY, SD',
 'JUMP RIVER AT SHELDON, WI',
 'SPIRIT RIVER AT SPIRIT FALLS, WI',
 'BIG EAU PLEINE RIVER AT STRATFORD, WI',
 'KICKAPOO RIVER AT LA FARGE, WI',
 'Turkey River at Garber, IA',
 'GRANT RIVER AT BURTON, WI',
 'PLATTE RIVER NEAR ROCKVILLE, WI',
 'ELKHORN CREEK NEAR PENROSE, IL',
 'Rapid Creek near Iowa City, IA',
 'Little Cedar River near Ionia, IA',
 'EDWARDS RIVER NEAR NEW BOSTON, IL',
 'White Breast Creek near Dallas, IA',
 'English Creek near Knoxville, IA',
 'Cedar Creek near Bussey, IA',
 'Fox River at Wayland, MO',
 'BEAR CREEK NEAR MARCELLINE, IL',
 'North River at Palmyra, MO',
 'Crooked Creek near Paris, MO',
 'Lick Creek at Perry, MO',
 'Spencer Cr. bl Plum Cr. nr Frankford, MO',
 'CUIVRE RIVER NEAR TROY, MO',
 'SUGAR CREEK AT MILFORD, IL',
 'BIG BUREAU CREEK AT PRINCETON, IL',
 'LA MOINE RIVER AT COLMAR, IL',
 'LA MOINE RIVER AT RIPLEY, IL',
 'WHITLEY CREEK NEAR ALLENVILLE, IL',
 'ROBINSON CREEK NEAR SHELBYVILLE, IL',
 'HICKORY CREEK NEAR BROWNSTOWN, IL',
 'LITTLE CROOKED CREEK NEAR NEW MINDEN, IL',
 'EAST FORK SHOAL CREEK NEAR COFFEEN, IL',
 'RAYSE CREEK NEAR WALTONVILLE, IL',
 'Madison River near West Yellowstone MT',
 'Gallatin River near Gallatin Gateway MT',
 'Little Peoples Creek near Hays MT',
 'LAMAR RIVER NR TOWER FALLS RANGER STATION, YNP',
 'Yellowstone River at Corwin Springs MT',
 'DINWOODY CREEK ABOVE LAKES, NEAR BURRIS, WYO.',
 'BULL LAKE CREEK ABOVE BULL LAKE, WY',
 'SHELL CREEK ABOVE SHELL CREEK RESERVOIR, WY',
 'SOUTH FORK SHOSHONE RIVER NEAR VALLEY, WY',
 'Little Bighorn River at State Line nr Wyola MT',
 'Lodge Grass Cr ab Willow C Div nr Wyola MT',
 'NORTH FORK POWDER RIVER NEAR HAZELTON, WY',
 'BEAR DEN CREEK NR MANDAREE, ND',
 'KNIFE RIVER AT MANNING, ND',
 'KNIFE RIVER NR GOLDEN VALLEY, ND',
 'GREEN RIVER NR NEW HRADEC, ND',
 'CANNONBALL RIVER AT REGENT, ND',
 'CEDAR CREEK NR HAYNES, ND',
 'CEDAR CREEK NR RALEIGH, ND',
 'CANNONBALL RIVER AT BREIEN, ND',
 'MOREAU R NEAR WHITEHORSE SD',
 'BATTLE CR NEAR KEYSTONE SD',
 'BATTLE CR AT HERMOSA SD',
 'RHOADS FORK NEAR ROCHFORD SD',
 'CASTLE CR ABOVE DEERFIELD RES NEAR HILL CITY SD',
 'SPEARFISH CR AT SPEARFISH SD',
 'SOUTH FORK BAD R NEAR COTTONWOOD,SD',
 'BAD R NEAR FORT PIERRE SD',
 'WHITE R NEAR KADOKA SD',
 'LITTLE WHITE R NEAR MARTIN SD',
 'LITTLE WHITE R BELOW WHITE RIVER SD',
 'WHITE R NEAR OACOMA SD',
 'PONCA CREEK AT VERDEL, NEBR.',
 'KEYA PAHA R AT WEWELA SD',
 'JAMES RIVER NR GRACE CITY, ND',
 'JAMES RIVER ABOVE ARROWWOOD LAKE NR KENSAL, ND',
 'BEAR CREEK NR OAKES, ND',
 'FIRESTEEL CR NEAR MOUNT VERNON SD',
 'BIG SIOUX RIVER NR FLORENCE SD',
 'BIG SIOUX R NEAR WATERTOWN SD',
 'OMAHA CR AT HOMER, NEBR',
 'MICHIGAN RIVER NEAR CAMERON PASS, CO.',
 'NORTH BRUSH CREEK NEAR SARATOGA, WY',
 'ENCAMPMENT RIVER AB HOG PARK CR, NR ENCAMPMENT, WY',
 'ROCK CREEK AB KING CANYON CANAL, NR ARLINGTON, WY',
 'JOE WRIGHT CREEK ABOVE JOE WRIGHT RESERVOIR, CO.',
 'SOUTH LOUP R AT ST. MICHAEL, NEBR.',
 'LITTLE SALT CREEK NEAR LINCOLN, NEBR.',
 'ROCK CREEK NEAR CERESCO, NEBR.',
 'TURKEY C NR SENECA, KS',
 'PRAIRIE DOG C AB KEITH SEBELIUS LAKE, KS',
 'WHITE ROCK C NR BURR OAK, KS',
 'SALT C NR ADA, KS',
 'CHAPMAN C NR CHAPMAN, KS',
 'KINGS C NR MANHATTAN, KS',
 'BLACK VERMILLION R NR FRANKFORT, KS',
 'MILL C NR PAXICO, KS',
 'SOLDIER C NR DELIA, KS',
 'SOLDIER C NR TOPEKA, KS',
 'STRANGER C NR TONGANOXIE, KS',
 'Chariton River near Chariton, IA',
 'Lamine River near Otterville, MO',
 'MARAIS DES CYGNES R NR READING, KS',
 'DRAGOON C NR BURLINGAME, KS',
 'L OSAGE R AT FULTON, KS',
 'Turnback Creek above Greenfield, MO',
 'Cedar Creek near Pleasant View, MO',
 'Pomme de Terre River near Polk, MO',
 'Lindley Creek near Polk, MO',
 'Gasconade River near Rich Fountain, MO',
 'Meramec River near Sullivan, MO',
 'Buffalo River near St. Joe, AR',
 'North Fork River near Tecumseh, MO',
 'North Sylamore Creek near Fifty Six, AR',
 'Jacks Fork at Eminence, MO',
 'Current River at Van Buren, MO',
 'Current River at Doniphan, MO',
 'Eleven Point River near Bardley, MO',
 'HALFMOON CREEK NEAR MALTA, CO.',
 'RATTLESNAKE C NR MACKSVILLE, KS',
 'SLATE C AT WELLINGTON, KS',
 'Salt Fork Arkansas River nr Alva, OK',
 'MEDICINE LODGE R NR KIOWA, KS',
 'CHIKASKIA R NR CORBIN, KS',
 'OTTER C AT CLIMAX, KS',
 'CEDAR C NR CEDAR POINT, KS',
 'LIGHTNING C NR MCCUNE, KS',
 'Flint Creek at Springtown, AR',
 'Baron Fork at Dutch Mills, AR',
 'Baron Fork at Eldon, OK',
 'RAYADO CREEK NEAR CIMARRON, NM',
 'UTE CREEK NEAR LOGAN, NM',
 'Cadron Creek near Guy, AR',
 'Maumelle River at Williams Junction, AR',
 'BAYOU PIERRE NR WILLOWS, MS',
 'HOMOCHITTO RIVER AT EDDICETON, MS',
 'HOMOCHITTO RIVER AT ROSETTA, MS',
 'BUFFALO RIVER NR WOODVILLE, MS',
 'Groesbeck Ck at SH 6 nr Quanah, TX',
 'Sweetwater Ck nr Kelton, TX',
 'North Fork Red River near Carter, OK',
 'E Fk Little Wichita Rv nr Henrietta, TX',
 'Mud Creek near Courtney, OK',
 'Kiamichi River near Big Cedar, OK',
 'Cossatot River near Vandervoort, AR',
 'Black Cypress Bayou at Jefferson, TX',
 'Caddo River near Caddo Gap, AR',
 'SMACKOVER CREEK NEAR SMACKOVER, ARK.',
 'Alum Fork Saline River near Reform, AR',
 'Big Creek at Pollock, LA',
 'Tchefuncta River near Folsom, LA',
 'Tickfaw River at Holden, LA',
 'CALCASIEU RIVER NR GLENMORA, LA',
 'Whiskey Chitto Creek Near Oberlin, LA',
 'Bayou Grand Cane near Stanley, LA',
 'Bayou Toro near Toro, LA',
 'Big Cow Ck nr Newton, TX',
 'Timber Ck nr Collinsville, TX',
 'Long King Ck at Livingston, TX',
 'Menard Ck nr Rye, TX',
 'E Fk San Jacinto Rv nr Cleveland, TX',
 'E Fk San Jacinto Rv nr New Caney, TX',
 'DMF Brazos Rv at Justiceburg, TX',
 'Millers Ck nr Munday, TX',
 'Hubbard Ck bl Albany, TX',
 'Big Sandy Ck abv Breckenridge, TX',
 'Cowhouse Ck at Pidcoke, TX',
 'S Fk Rocky Ck nr Briggs, TX',
 'S Fk San Gabriel Rv at Georgetown, TX',
 'Middle Yegua Ck nr Dime Box, TX',
 'Beaver Ck nr Mason, TX',
 'Barton Ck at SH 71 nr Oak Hill, TX',
 'Onion Ck nr Driftwood, TX',
 'Bear Ck bl FM 1826 nr Driftwood, TX',
 'Lavaca Rv nr Edna, TX',
 'Navidad Rv nr Hallettsville, TX',
 'Garcitas Ck nr Inez, TX',
 'N Fk Guadalupe Rv nr Hunt, TX',
 'Blanco Rv nr Kyle, TX',
 'Sandies Ck nr Westhoff, TX',
 'Coleto Ck at Arnold Rd nr Schroeder, TX',
 'Medina Rv at Bandera, TX',
 'Mission Rv at Refugio, TX',
 'Nueces Rv at Laguna, TX',
 'W Nueces Rv nr Brackettville, TX',
 'San Casimiro Ck nr Freer, TX',
 'Frio Rv at Concan, TX',
 'Dry Frio Rv nr Reagan Wells, TX',
 'Sabinal Rv at Sabinal, TX',
 'Hondo Ck nr Tarpley, TX',
 "Seco Ck at Rowe Ranch nr D'Hanis, TX",
 'RIO HONDO NEAR VALDEZ, NM',
 'RIO PUEBLO DE TAOS NEAR TAOS, NM',
 'RIO LUCERO NEAR ARROYO SECO, NM',
 'JEMEZ RIVER NEAR JEMEZ, NM',
 'RIO MORA NEAR TERRERO, NM',
 'PECOS RIVER NEAR PECOS, NM',
 'GALLINAS CREEK NEAR MONTEZUMA, NM',
 'BOBTAIL CREEK NEAR JONES PASS, CO.',
 'DARLING CREEK NEAR LEAL, CO.',
 'SOUTH FORK OF WILLIAMS FORK NEAR LEAL, CO.',
 'KEYSTONE GULCH NEAR DILLON, CO.',
 'GORE CREEK AT UPPER STATION, NEAR MINTURN, CO.',
 'BLACK GORE CREEK NEAR MINTURN, CO.',
 'BOOTH CREEK NEAR MINTURN, CO.',
 'MIDDLE CREEK NEAR MINTURN, CO.',
 'CRYSTAL RIVER AB AVALANCHE C, NEAR REDSTONE, CO.',
 'TAYLOR RIVER AT TAYLOR PARK, CO.',
 'FONTENELLE C NR HERSCHLER RANCH, NR FONTENELLE, WY',
 'HAMS FORK BELOW POLE CREEK, NEAR FRONTIER, WY',
 'CORRAL GULCH NEAR RANGELY, CO.',
 'WHITE RIVER BL TABBYUNE C NEAR SOLDIER SUMMIT, UT',
 'VALLECITO CREEK NEAR BAYFIELD, CO.',
 'SOUTH CREEK ABOVE RESERVOIR NEAR MONTICELLO, UT',
 'RECAPTURE CREEK NEAR BLANDING, UT',
 'RIO NUTRIA NEAR RAMAH, NM',
 'EAST FORK VIRGIN RIVER NEAR GLENDALE, UT',
 'GILA RIVER NEAR GILA, NM',
 'MOGOLLON CREEK NEAR CLIFF, NM',
 'BONITA CREEK NEAR MORENCI, AZ.',
 'SANTA CRUZ RIVER NEAR LOCHIEL, AZ.',
 'SABINO CREEK NEAR TUCSON, AZ.',
 'PANTANO WASH NEAR VAIL, AZ.',
 'EAST FORK WHITE RIVER NEAR FORT APACHE, AZ.',
 'WHITE RIVER NEAR FORT APACHE, AZ.',
 'CIBECUE CREEK NEAR CHYSOTILE, AZ.',
 'CHERRY CREEK NEAR GLOBE, AZ.',
 'WET BEAVER CREEK NEAR RIMROCK, AZ.',
 'DRY BEAVER CREEK NEAR RIMROCK, AZ.',
 'WEST CLEAR CREEK NEAR CAMP VERDE, AZ.',
 'WET BOTTOM CREEK NEAR CHILDS, AZ.',
 'SYCAMORE CREEK NEAR FORT MCDOWELL, AZ.',
 'CAVE CREEK BLW COTTONWOOD CR NEAR CAVE CREEK, AZ.',
 'NEW RIVER NEAR ROCK SPRINGS, AZ.',
 'BIG CREEK NEAR RANDOLPH, UT',
 'WEST CANYON CREEK NEAR CEDAR FORT, UT',
 'VERNON CREEK NEAR VERNON, UT',
 'SOUTH WILLOW CREEK NEAR GRANTSVILLE, UT',
 'MAMMOTH CREEK ABV WEST HATCH DITCH, NEAR HATCH, UT',
 'SALINA CREEK NEAR EMERY, UT',
 'BEAVER RIVER NEAR BEAVER, UT',
 'COAL CREEK NEAR CEDAR CITY, UT',
 'STEPTOE C NR ELY, NV',
 'S TWIN R NR ROUND MOUNTAIN, NV',
 'TAHQUITZ C NR PALM SPRINGS CA',
 'PALM CYN C NR PALM SPRINGS CA',
 'ANDREAS C NR PALM SPRINGS CA',
 'DEEP C NR PALM DESERT CA',
 'BIG ROCK C NR VALYERMO CA',
 'CLEAR CREEK NEAR CARSON CITY, NV',
 'LAMOILLE C NR LAMOILLE, NV',
 'MARTIN C NR PARADISE VALLEY, NV',

In [41]:
filtered_attr = attr_p.copy()
filtered_attr.drop(INVALID_ATTR, axis=1, inplace=True, errors='ignore')
filtered_attr.dtypes

gauge_id              int64
p_mean              float64
pet_mean            float64
p_seasonality       float64
frac_snow           float64
aridity             float64
high_prec_freq      float64
high_prec_dur       float64
high_prec_timing     object
low_prec_freq       float64
low_prec_dur        float64
low_prec_timing      object
q_mean              float64
runoff_ratio        float64
slope_fdc           float64
baseflow_index      float64
stream_elas         float64
q5                  float64
q95                 float64
high_q_freq         float64
high_q_dur          float64
low_q_freq          float64
low_q_dur           float64
zero_q_freq         float64
hfd_mean            float64
gauge_lat           float64
gauge_lon           float64
elev_mean           float64
area_gages2         float64
dom_land_cover       object
dtype: object

In [42]:
filtered_attr.columns

Index(['gauge_id', 'p_mean', 'pet_mean', 'p_seasonality', 'frac_snow',
       'aridity', 'high_prec_freq', 'high_prec_dur', 'high_prec_timing',
       'low_prec_freq', 'low_prec_dur', 'low_prec_timing', 'q_mean',
       'runoff_ratio', 'slope_fdc', 'baseflow_index', 'stream_elas', 'q5',
       'q95', 'high_q_freq', 'high_q_dur', 'low_q_freq', 'low_q_dur',
       'zero_q_freq', 'hfd_mean', 'gauge_lat', 'gauge_lon', 'elev_mean',
       'area_gages2', 'dom_land_cover'],
      dtype='object')

In [43]:
assert len(filtered_attr) == Nloc

In [44]:
# Categorical variable encoding
cols = filtered_attr.columns
categorical_cols = filtered_attr.select_dtypes(exclude = ['number']).columns

for cat_col in categorical_cols:
  num_cat = filtered_attr[cat_col].value_counts().count()
  filtered_attr[cat_col] = (filtered_attr[cat_col].astype('category').cat.codes)/num_cat

  print('Processed ', cat_col)

Processed  high_prec_timing
Processed  low_prec_timing
Processed  dom_land_cover

In [45]:
filtered_attr.isna().sum()

gauge_id            0
p_mean              0
pet_mean            0
p_seasonality       0
frac_snow           0
aridity             0
high_prec_freq      0
high_prec_dur       0
high_prec_timing    0
low_prec_freq       0
low_prec_dur        0
low_prec_timing     0
q_mean              1
runoff_ratio        1
slope_fdc           1
baseflow_index      0
stream_elas         1
q5                  1
q95                 1
high_q_freq         1
high_q_dur          1
low_q_freq          1
low_q_dur           1
zero_q_freq         1
hfd_mean            1
gauge_lat           0
gauge_lon           0
elev_mean           0
area_gages2         0
dom_land_cover      0
dtype: int64

In [46]:
# Remove NaN values
nan_cols = [col for col in filtered_attr.columns if filtered_attr.isna().sum()[col] > 0]
print(nan_cols)

for nan_col in nan_cols:
  filtered_attr[nan_col] = filtered_attr[nan_col].fillna(filtered_attr[nan_col].mean())

['q_mean', 'runoff_ratio', 'slope_fdc', 'stream_elas', 'q5', 'q95', 'high_q_freq', 'high_q_dur', 'low_q_freq', 'low_q_dur', 'zero_q_freq', 'hfd_mean']

In [47]:
print(len(filtered_attr.columns))

30

In [48]:
BasicInputStaticProps = filtered_attr.to_numpy()
NpropperTimeStatic = len(filtered_attr.columns) - 1
print('NpropperTimeStatic', NpropperTimeStatic)

NpropperTimeStatic 29

# Save Datasets

In [49]:
if CAMELS_COMBINED:
  input_p.to_csv(root_path + "/BasicInputTimeSeries_us_combined.csv")
  filtered_attr.to_csv(root_path + "/BasicInputStaticProps_us_combined.csv")
  np.save(root_path + "/BasicInputTimeSeries_us_combined", BasicInputTimeSeries)
  np.save(root_path + "/BasicInputStaticProps_us_combined", BasicInputStaticProps)

else:
  input_p.to_csv(root_path + "/BasicInputTimeSeries_us.csv")
  filtered_attr.to_csv(root_path + "/BasicInputStaticProps_us.csv")
  np.save(root_path + "/BasicInputTimeSeries_us", BasicInputTimeSeries)
  np.save(root_path + "/BasicInputStaticProps_us", BasicInputStaticProps)

In [50]:
meta_data = {
    'Nloc': Nloc,
    'locs': locs.tolist(),
    'loc_names': attr_p['gauge_name'].tolist(),
    'BasicInputTimeSeries':{
      'fields': input_p.columns.values.tolist(),
      'index_fields': [BASIN_COL, DATE_COL],
      'initial_date': str(InitialDate),
      'end_date': str(EndDate),
      'time_delta': str(BasicInputTimeSeries[1, 1] - BasicInputTimeSeries[0, 1]),
      'time_steps': int(((EndDate-InitialDate + np.timedelta64(1, 'D'))/np.timedelta64(1, 'D'))),
    },
    'BasicInputStaticProps': {
        'fields': filtered_attr.columns.values.tolist(),
        'index_fileds': ['gauge_id'],
    },
    'NpropperTimeStatic': len(filtered_attr.columns) - 1
}

In [51]:
if CAMELS_COMBINED:
  with open(root_path + "/metadata_us_combined.json", 'w') as outfile:
    json.dump(meta_data, outfile, indent='\t')

else:
  with open(root_path + "/metadata_us.json", 'w') as outfile:
    json.dump(meta_data, outfile, indent='\t')

In [52]:
BasicInputTimeSeries

array([[Timestamp('1989-10-02 00:00:00'), 1013500, 10.38, 8.71,
        0.3215057525056905],
       [Timestamp('1989-10-02 00:00:00'), 1022500, 12.31, 10.22,
        0.5536971983815129],
       [Timestamp('1989-10-02 00:00:00'), 1030500, 3.21, 9.58,
        0.6797832874495239],
       ...,
       [Timestamp('2008-12-31 00:00:00'), 14325000, 28.09, 3.52,
        14.203440434346788],
       [Timestamp('2008-12-31 00:00:00'), 14362250, 9.32, 2.25,
        0.165380610569215],
       [Timestamp('2008-12-31 00:00:00'), 14400000, 12.77, 3.19,
        29.920203240566472]], dtype=object)

In [53]:
type(BasicInputTimeSeries[0,3])

float

In [54]:
str(InitialDate)

'1989-10-02T00:00:00.000000000'

In [55]:
str(BasicInputTimeSeries[1, 1] - BasicInputTimeSeries[0, 1])

'9000'

In [56]:
int(((EndDate-InitialDate + np.timedelta64(1, 'D'))/np.timedelta64(1, 'D')))

7031

In [57]:
meta_data

{'Nloc': 671,
 'locs': [1013500,
  1022500,
  1030500,
  1031500,
  1047000,
  1052500,
  1054200,
  1055000,
  1057000,
  1073000,
  1078000,
  1118300,
  1121000,
  1123000,
  1134500,
  1137500,
  1139000,
  1139800,
  1142500,
  1144000,
  1162500,
  1169000,
  1170100,
  1181000,
  1187300,
  1195100,
  1333000,
  1350000,
  1350080,
  1350140,
  1365000,
  1411300,
  1413500,
  1414500,
  1415000,
  1423000,
  1434025,
  1435000,
  1439500,
  1440000,
  1440400,
  1451800,
  1466500,
  1484100,
  1485500,
  1486000,
  1487000,
  1491000,
  1510000,
  1516500,
  1518862,
  1532000,
  1539000,
  1542810,
  1543000,
  1543500,
  1544500,
  1545600,
  1547700,
  1548500,
  1549500,
  1550000,
  1552000,
  1552500,
  1557500,
  1567500,
  1568000,
  1580000,
  1583500,
  1586610,
  1591400,
  1594950,
  1596500,
  1605500,
  1606500,
  1613050,
  1620500,
  1632000,
  1632900,
  1634500,
  1638480,
  1639500,
  1644000,
  1658500,
  1664000,
  1666500,
  1667500,
  1669000,
  1669520,
  2011400,
  2011460,
  2013000,
  2014000,
  2015700,
  2016000,
  2017500,
  2018000,
  2027000,
  2027500,
  2028500,
  2038850,
  2046000,
  2051000,
  2051500,
  2053200,
  2053800,
  2055100,
  2056900,
  2059500,
  2064000,
  2065500,
  2069700,
  2070000,
  2074500,
  2077200,
  2081500,
  2082950,
  2092500,
  2096846,
  2102908,
  2108000,
  2111180,
  2111500,
  2112120,
  2112360,
  2118500,
  2125000,
  2128000,
  2137727,
  2140991,
  2143000,
  2143040,
  2149000,
  2152100,
  2177000,
  2178400,
  2193340,
  2196000,
  2198100,
  2202600,
  2212600,
  2215100,
  2216180,
  2221525,
  2231000,
  2231342,
  2235200,
  2245500,
  2246000,
  2296500,
  2297155,
  2297310,
  2298123,
  2298608,
  2299950,
  2300700,
  2310947,
  2312200,
  2314500,
  2315500,
  2324400,
  2327100,
  2342933,
  2349900,
  2350900,
  2361000,
  2363000,
  2369800,
  2371500,
  2372250,
  2374500,
  2381600,
  2384540,
  2395120,
  2408540,
  2415000,
  2422500,
  2427250,
  2430085,
  2430615,
  2450250,
  2464000,
  2464146,
  2464360,
  2465493,
  2469800,
  2472000,
  2472500,
  2479155,
  2479300,
  2479560,
  2481000,
  2481510,
  3010655,
  3011800,
  3015500,
  3021350,
  3026500,
  3028000,
  3049000,
  3049800,
  3050000,
  3066000,
  3069500,
  3070500,
  3076600,
  3078000,
  3140000,
  3144000,
  3159540,
  3161000,
  3164000,
  3165000,
  3170000,
  3173000,
  3180500,
  3182500,
  3186500,
  3187500,
  3213700,
  3237280,
  3237500,
  3238500,
  3241500,
  3280700,
  3281100,
  3281500,
  3285000,
  3291780,
  3300400,
  3338780,
  3340800,
  3346000,
  3357350,
  3364500,
  3366500,
  3368000,
  3384450,
  3439000,
  3450000,
  3455500,
  3456500,
  3460000,
  3463300,
  3471500,
  3473000,
  3479000,
  3488000,
  3498500,
  3500000,
  3500240,
  3504000,
  3574500,
  3592718,
  3604000,
  4015330,
  4024430,
  4027000,
  4040500,
  4043050,
  4045500,
  4056500,
  4057510,
  4057800,
  4059500,
  4063700,
  4074950,
  4105700,
  4115265,
  4122200,
  4122500,
  4124000,
  4127918,
  4127997,
  4161580,
  4185000,
  4196800,
  4197100,
  4197170,
  4213000,
  4213075,
  4216418,
  4221000,
  4224775,
  4233000,
  4256000,
  4296000,
  5056000,
  5057000,
  5057200,
  5062500,
  5087500,
  5120500,
  5123400,
  5129115,
  5131500,
  5291000,
  5362000,
  5393500,
  5399500,
  5408000,
  5412500,
  5413500,
  5414000,
  5444000,
  5454000,
  5458000,
  5466500,
  5487980,
  5488200,
  5489000,
  5495000,
  5495500,
  5501000,
  5503800,
  5507600,
  5508805,
  5514500,
  5525500,
  5556500,
  5584500,
  5585000,
  5591550,
  5592050,
  5592575,
  5593575,
  5593900,
  5595730,
  6037500,
  6043500,
  6154410,
  6188000,
  6191500,
  6221400,
  6224000,
  6278300,
  6280300,
  6289000,
  6291500,
  6311000,
  6332515,
  6339100,
  6339500,
  6344600,
  6350000,
  6352000,
  6353000,
  6354000,
  6360500,
  6404000,
  6406000,
  6408700,
  6409000,
  6431500,
  6440200,
  6441500,
  6447000,
  6447500,
  6450500,
  6452000,
  6453600,
  6464500,
  6468170,
  6468250,
  6470800,
  6477500,
  6479215,
  6479438,
  6601000,
  6614800,
  6622700,
  6623800,
  6632400,
  6746095,
  6784000,
  6803510,
  6803530,
  6814000,
  6847900,
  6853800,
  6876700,
  6878000,
  6879650,
  6885500,
  6888500,
  6889200,
  6889500,
  6892000,
  6903400,
  6906800,
  6910800,
  6911900,
  6917000,
  6918460,
  6919500,
  6921070,
  6921200,
  6934000,
  7014500,
  7056000,
  7057500,
  7060710,
  7066000,
  7067000,
  7068000,
  7071500,
  7083000,
  7142300,
  7145700,
  7148400,
  7149000,
  7151500,
  7167500,
  7180500,
  7184000,
  7195800,
  7196900,
  7197000,
  7208500,
  7226500,
  7261000,
  7263295,
  7290650,
  7291000,
  7292500,
  7295000,
  7299670,
  7301410,
  7301500,
  7315200,
  7315700,
  7335700,
  7340300,
  7346045,
  7359610,
  7362100,
  7362587,
  7373000,
  7375000,
  7376000,
  8013000,
  8014500,
  8023080,
  8025500,
  8029500,
  8050800,
  8066200,
  8066300,
  8070000,
  8070200,
  8079600,
  8082700,
  8086212,
  8086290,
  8101000,
  8103900,
  8104900,
  8109700,
  8150800,
  8155200,
  8158700,
  8158810,
  8164000,
  8164300,
  8164600,
  8165300,
  8171300,
  8175000,
  8176900,
  8178880,
  8189500,
  8190000,
  8190500,
  8194200,
  8195000,
  8196000,
  8198500,
  8200000,
  8202700,
  8267500,
  8269000,
  8271000,
  8324000,
  8377900,
  8378500,
  8380500,
  9034900,
  9035800,
  9035900,
  9047700,
  9065500,
  9066000,
  9066200,
  9066300,
  9081600,
  9107000,
  9210500,
  9223000,
  9306242,
  9312600,
  9352900,
  9378170,
  9378630,
  9386900,
  9404450,
  9430500,
  9430600,
  9447800,
  9480000,
  9484000,
  9484600,
  9492400,
  9494000,
  9497800,
  9497980,
  9505200,
  9505350,
  9505800,
  9508300,
  9510200,
  9512280,
  9513780,
  10023000,
  10166430,
  10172700,
  10172800,
  10173450,
  10205030,
  10234500,
  10242000,
  10244950,
  10249300,
  10258000,
  10258500,
  10259000,
  10259200,
  10263500,
  10310500,
  10316500,
  10329500,
  10336645,
  10336660,
  10336740,
  10343500,
  10348850,
  10396000,
  11098000,
  11124500,
  11141280,
  11143000,
  11148900,
  11151300,
  11162500,
  11176400,
  11180500,
  11180960,
  11224500,
  11230500,
  11237500,
  11253310,
  11264500,
  11266500,
  11274500,
  11274630,
  11284400,
  11299600,
  11381500,
  11383500,
  11451100,
  11468500,
  11473900,
  11475560,
  11476600,
  11478500,
  11480390,
  11481200,
  11482500,
  11522500,
  11523200,
  11528700,
  11532500,
  12010000,
  12013500,
  12020000,
  12025000,
  12025700,
  12035000,
  12040500,
  12041200,
  12043000,
  12048000,
  12054000,
  12056500,
  12073500,
  12082500,
  12092000,
  12095000,
  12114500,
  12115000,
  12115500,
  12117000,
  12141300,
  12143600,
  12144000,
  12145500,
  12147500,
  12147600,
  12167000,
  12175500,
  12178100,
  12186000,
  12189500,
  12358500,
  12374250,
  12375900,
  12377150,
  12381400,
  12383500,
  12388400,
  12390700,
  12411000,
  12414500,
  12447390,
  12451000,
  12488500,
  13011500,
  13011900,
  13018300,
  13023000,
  13083000,
  13161500,
  13235000,
  13240000,
  13310700,
  13313000,
  13331500,
  13337000,
  13338500,
  13340000,
  13340600,
  14020000,
  14092750,
  14096850,
  14137000,
  14138800,
  14138870,
  14138900,
  14139800,
  14141500,
  14154500,
  14158500,
  14158790,
  14166500,
  14182500,
  14185000,
  14185900,
  14187000,
  14216500,
  14222500,
  14236200,
  14301000,
  14303200,
  14305500,
  14306340,
  14306500,
  14308990,
  14309500,
  14316700,
  14325000,
  14362250,
  14400000],
 'loc_names': ['Fish River near Fort Kent, Maine',
  'Narraguagus River at Cherryfield, Maine',
  'Mattawamkeag River near Mattawamkeag, Maine',
  'Piscataquis River near Dover-Foxcroft, Maine',
  'Carrabassett River near North Anson, Maine',
  'Diamond River near Wentworth Location, NH',
  'Wild River at Gilead, Maine',
  'Swift River near Roxbury, Maine',
  'Little Androscoggin River near South Paris, Maine',
  'OYSTER RIVER NEAR DURHAM, NH',
  'SMITH RIVER NEAR BRISTOL, NH',
  'PENDLETON HILL BROOK NEAR CLARKS FALLS, CT.',
  'MOUNT HOPE RIVER NEAR WARRENVILLE, CT.',
  'LITTLE RIVER NEAR HANOVER, CT.',
  'MOOSE RIVER AT VICTORY, VT',
  'AMMONOOSUC RIVER AT BETHLEHEM JUNCTION, NH',
  'WELLS RIVER AT WELLS RIVER, VT',
  'EAST ORANGE BRANCH AT EAST ORANGE, VT',
  'AYERS BROOK AT RANDOLPH, VT',
  'WHITE RIVER AT WEST HARTFORD, VT',
  'PRIEST BROOK NEAR WINCHENDON, MA',
  'NORTH RIVER AT SHATTUCKVILLE, MA',
  'GREEN RIVER NEAR COLRAIN, MA',
  'WEST BRANCH WESTFIELD RIVER AT HUNTINGTON, MA',
  'HUBBARD RIVER NR. WEST HARTLAND, CT.',
  'INDIAN RIVER NEAR CLINTON, CT.',
  'GREEN RIVER AT WILLIAMSTOWN, MA',
  'SCHOHARIE CREEK AT PRATTSVILLE NY',
  'MANOR KILL AT WEST CONESVILLE NEAR GILBOA NY',
  'MINE KILL NEAR NORTH BLENHEIM NY',
  'RONDOUT CREEK NEAR LOWES CORNERS NY',
  'TUCKAHOE RIVER AT HEAD OF RIVER NJ',
  'EAST BR DELAWARE R AT MARGARETVILLE NY',
  'MILL BROOK NEAR DUNRAVEN NY',
  'TREMPER KILL NEAR ANDES NY',
  'WEST BRANCH DELAWARE RIVER AT WALTON NY',
  'BISCUIT BK ABOVE PIGEON BK AT FROST VALLEY NY',
  'NEVERSINK RIVER NEAR CLARYVILLE NY',
  'Bush Kill at Shoemakers, PA',
  'FLAT BROOK NEAR FLATBROOKVILLE NJ',
  'Brodhead Creek near Analomink, PA',
  'Jordan Creek near Schnecksville, PA',
  'MCDONALDS BRANCH IN LEBANON STATE FOREST NJ',
  'BEAVERDAM BRANCH AT HOUSTON, DE',
  'NASSAWANGO CREEK NEAR SNOW HILL, MD',
  'MANOKIN BRANCH NEAR PRINCESS ANNE, MD',
  'NANTICOKE RIVER NEAR BRIDGEVILLE, DE',
  'CHOPTANK RIVER NEAR GREENSBORO, MD',
  'OTSELIC RIVER AT CINCINNATUS NY',
  'Corey Creek near Mainesburg, PA',
  'Cowanesque River at Westfield, PA',
  'Towanda Creek near Monroeton, PA',
  'Fishing Creek near Bloomsburg, PA',
  'Waldy Run near Emporium, PA',
  'Driftwood Br Sinnemahoning Cr at Sterling Run, PA',
  'Sinnemahoning Creek at Sinnemahoning, PA',
  'Kettle Creek at Cross Fork, PA',
  'Young Womans Creek near Renovo, PA',
  'Marsh Creek at Blanchard, PA',
  'Pine Creek at Cedar Run, PA',
  'Blockhouse Creek near English Center, PA',
  'Lycoming Creek near Trout Run, PA',
  'Loyalsock Creek at Loyalsockville, PA',
  'Muncy Creek near Sonestown, PA',
  'Bald Eagle Creek at Tyrone, PA',
  'Bixler Run near Loysville, PA',
  'Sherman Creek at Shermans Dale, PA',
  'DEER CREEK AT ROCKS, MD',
  'WESTERN RUN AT WESTERN RUN, MD',
  'MORGAN RUN NEAR LOUISVILLE, MD',
  'CATTAIL CREEK NEAR GLENWOOD, MD',
  'MCMILLAN F NEAR FORT PENDLETON, MD',
  'SAVAGE RIVER NEAR BARTON, MD',
  'SOUTH BRANCH POTOMAC RIVER AT FRANKLIN, WV',
  'SO. BRANCH POTOMAC RIVER NR PETERSBURG, WV',
  'Tonoloway Creek near Needmore, PA',
  'NORTH RIVER NEAR STOKESVILLE, VA',
  'N F SHENANDOAH RIVER AT COOTES STORE, VA',
  'SMITH CREEK NEAR NEW MARKET, VA',
  'CEDAR CREEK NEAR WINCHESTER, VA',
  'CATOCTIN CREEK AT TAYLORSTOWN, VA',
  'BIG PIPE CREEK AT BRUCEVILLE, MD',
  'GOOSE CREEK NEAR LEESBURG, VA',
  'S F QUANTICO CREEK NEAR INDEPENDENT HILL, VA',
  'RAPPAHANNOCK RIVER AT REMINGTON, VA',
  'ROBINSON RIVER NEAR LOCUST DALE, VA',
  'RAPIDAN RIVER NEAR CULPEPER, VA',
  'PISCATAWAY CREEK NEAR TAPPAHANNOCK, VA',
  'DRAGON SWAMP AT MASCOT, VA',
  'JACKSON RIVER NEAR BACOVA, VA',
  'BACK CREEK NEAR SUNRISE, VA',
  'DUNLAP CREEK NEAR COVINGTON, VA',
  'POTTS CREEK NEAR COVINGTON, VA',
  'BULLPASTURE RIVER AT WILLIAMSVILLE, VA',
  'COWPASTURE RIVER NEAR CLIFTON FORGE, VA',
  'JOHNS CREEK AT NEW CASTLE, VA',
  'CRAIG CREEK AT PARR, VA',
  'TYE RIVER NEAR LOVINGSTON, VA',
  'PINEY RIVER AT PINEY RIVER, VA',
  'ROCKFISH RIVER NEAR GREENFIELD, VA',
  'HOLIDAY CREEK NEAR ANDERSONVILLE, VA',
  'STONY CREEK NEAR DINWIDDIE, VA',
  'NORTH MEHERRIN RIVER NEAR LUNENBURG, VA',
  'MEHERRIN RIVER NEAR LAWRENCEVILLE, VA',
  'POTECASI CREEK NEAR UNION, NC',
  'S F ROANOKE RIVER NEAR SHAWSVILLE, VA',
  'TINKER CREEK NEAR DALEVILLE, VA',
  'BLACKWATER RIVER NEAR ROCKY MOUNT, VA',
  'GOOSE CREEK NEAR HUDDLESTON, VA',
  'FALLING RIVER NEAR NARUNA, VA',
  'CUB CREEK AT PHENIX, VA',
  'SOUTH MAYO RIVER NEAR NETTLERIDGE, VA',
  'NORTH MAYO RIVER NEAR SPENCER, VA',
  'SANDY RIVER NEAR DANVILLE, VA',
  'HYCO CREEK NEAR LEASBURG, NC',
  'TAR RIVER NEAR TAR RIVER, NC',
  'LITTLE FISHING CREEK NEAR WHITE OAK, NC',
  'TRENT RIVER NEAR TRENTON, NC',
  'CANE CREEK NEAR ORANGE GROVE, NC',
  'FLAT CREEK NEAR INVERNESS, NC',
  'NORTHEAST CAPE FEAR RIVER NEAR CHINQUAPIN, NC',
  'ELK CREEK AT ELKVILLE, NC',
  'REDDIES RIVER AT NORTH WILKESBORO, NC',
  'ROARING RIVER NEAR ROARING RIVER, NC',
  'MITCHELL RIVER NEAR STATE ROAD, NC',
  'HUNTING CREEK NEAR HARMONY, NC',
  'BIG BEAR CR NR RICHFIELD, NC',
  'LITTLE RIVER NEAR STAR, NC',
  'CATAWBA R NR PLEASANT GARDENS, NC',
  'JOHNS RIVER AT ARNEYS STORE, NC',
  'HENRY FORK NEAR HENRY RIVER, NC',
  'JACOB FORK AT RAMSEY, NC',
  'COVE CREEK NEAR LAKE LURE, NC',
  'FIRST BROAD RIVER NEAR CASAR, NC',
  'CHATTOOGA RIVER NEAR CLAYTON, GA',
  'TALLULAH RIVER NEAR CLAYTON, GA',
  'KETTLE CREEK NEAR WASHINGTON, GA',
  'STEVENS CREEK NEAR MODOC, SC',
  'BEAVERDAM CREEK NEAR SARDIS, GA',
  'BLACK CREEK NEAR BLITCHTON, GA',
  'FALLING CREEK NEAR JULIETTE, GA',
  'TUCSAWHATCHEE CREEK NEAR HAWKINSVILLE, GA',
  'TURNPIKE CREEK NEAR MCRAE, GA',
  'MURDER CREEK BELOW EATONTON, GA',
  'ST. MARYS RIVER NR MACCLENNY, FLA.',
  'FT DRUM CREEK AT SUNSHINE ST PKY NEAR FT DRUM, FL',
  'BLACKWATER CREEK NEAR CASSIA, FL',
  'SOUTH FORK BLACK CREEK NR PENNEY FARMS, FLA.',
  'NORTH FORK BLACK CREEK NR MIDDLEBURG, FLA.',
  'CHARLIE CREEK NEAR GARDNER FL',
  'HORSE CREEK NEAR MYAKKA HEAD FL',
  'HORSE CREEK NEAR ARCADIA FL',
  'PRAIRIE CREEK NEAR FORT OGDEN FL',
  'MYAKKA RIVER AT MYAKKA CITY FL',
  'MANATEE RIVER NEAR MYAKKA HEAD FL',
  'BULLFROG CREEK NEAR WIMAUMA FL',
  'WITHLACOOCHEE RIVER NEAR CUMPRESSCO, FLA.',
  'LITTLE WITHLACOOCHEE RIVER AT RERDELL, FLA.',
  'SUWANNEE RIVER AT US 441, AT FARGO, GA',
  'SUWANNEE RIVER AT WHITE SPRINGS, FLA.',
  'FENHOLLOWAY RIVER NEAR FOLEY, FLA.',
  'SOPCHOPPY RIVER NR SOPCHOPPY, FLA.',
  'SOUTH FORK COWIKEE CREEK NEAR BATESVILLE AL',
  'TURKEY CREEK AT BYROMVILLE, GA',
  'KINCHAFOONEE CREEK NEAR DAWSON, GA',
  'CHOCTAWHATCHEE RIVER NEAR NEWTON, AL.',
  'PEA RIVER NEAR ARITON AL',
  'BLACKWATER RIVER NEAR BRADLEY AL',
  'CONECUH RIVER AT BRANTLEY AL',
  'PATSALIGA CREEK NEAR BRANTLEY AL',
  'MURDER CREEK NEAR EVERGREEN AL',
  'FAUSETT CREEK NEAR TALKING ROCK, GA',
  'MILL CREEK NEAR CRANDALL, GA',
  'TWO RUN CREEK NEAR KINGSTON, GA',
  'HATCHET CREEK BELOW ROCKFORD AL',
  'HILLABEE CREEK NEAR HACKNEYVILLE AL',
  'MULBERRY CREEK AT JONES AL',
  'PINE BARREN CREEK NEAR SNOW HILL, AL.',
  'RED BUD CREEK NR MOORES MILL, MS',
  'MUD CREEK NR FAIRVIEW, MS',
  'SIPSEY FORK NEAR GRAYSON AL',
  'NORTH RIVER NEAR SAMANTHA AL',
  'TURKEY CREEK NEAR TUSCALOOSA',
  'BINION CREEK BELOW GIN CREEK NEAR SAMANTHA AL',
  'ELLIOTTS CREEK AT MOUNDVILLE AL',
  'SATILPA CREEK NEAR COFFEEVILLE AL',
  'LEAF RIVER NR COLLINS, MS',
  'BOUIE CREEK NR HATTIESBURG, MS',
  'CYPRESS CREEK NR JANICE, MS',
  'RED CREEK AT VESTRY, MS',
  'ESCATAWPA RIVER NEAR AGRICOLA MS',
  'BILOXI RIVER AT WORTHAM, MS',
  'WOLF RIVER NR LANDON, MS',
  'Oswayo Creek at Shinglehouse, PA',
  'Kinzua Creek near Guffey, PA',
  'Brokenstraw Creek at Youngsville, PA',
  'French Creek near Wattsburg, PA',
  'Sevenmile Run near Rasselas, PA',
  'West Branch Clarion River at Wilcox, PA',
  'Buffalo Creek near Freeport, PA',
  'Little Pine Creek near Etna, PA',
  'TYGART VALLEY RIVER NEAR DAILEY, WV',
  'BLACKWATER R AT DAVIS, WV',
  'CHEAT RIVER NEAR PARSONS, WV',
  'BIG SANDY CREEK AT ROCKVILLE, WV',
  'BEAR CREEK AT FRIENDSVILLE, MD',
  'CASSELMAN RIVER AT GRANTSVILLE, MD',
  'Mill Creek near Coshocton OH',
  'Wakatomika Creek near Frazeysburg OH',
  'Shade River near Chester OH',
  'SOUTH FORK NEW RIVER NEAR JEFFERSON, NC',
  'NEW RIVER NEAR GALAX, VA',
  'CHESTNUT CREEK AT GALAX, VA',
  'LITTLE RIVER AT GRAYSONTOWN, VA',
  'WALKER CREEK AT BANE, VA',
  'GREENBRIER RIVER AT DURBIN, WV',
  'GREENBRIER RIVER AT BUCKEYE, WV',
  'WILLIAMS RIVER AT DYER, WV',
  'CRANBERRY RIVER NEAR RICHWOOD, WV',
  'TUG FORK AT WILLIAMSON, WV',
  'Upper Twin Creek at McGaw OH',
  'Ohio Brush Creek near West Union OH',
  'White Oak Creek near Georgetown OH',
  'Massies Creek at Wilberforce OH',
  'CUTSHIN CREEK AT WOOTON, KY',
  'GOOSE CREEK AT MANCHESTER, KY',
  'SOUTH FORK KENTUCKY RIVER AT BOONEVILLE, KY',
  'DIX RIVER NEAR DANVILLE, KY',
  'INDIAN-KENTUCK CREEK NR CANAAN, IND.',
  'BEECH FORK AT MAUD, KY',
  'NORTH FORK VERMILION RIVER NEAR BISMARCK, IL',
  'BIG RACCOON CREEK NEAR FINCASTLE IND',
  'NORTH FORK EMBARRAS RIVER NEAR OBLONG, IL',
  'PLUM CREEK NEAR BAINBRIDGE, IND.',
  'CLIFTY CREEK AT HARTSVILLE, IN',
  'MUSCATATUCK RIVER NEAR DEPUTY, IN',
  'BRUSH CREEK NEAR NEBRASKA, IN',
  'LUSK CREEK NEAR EDDYVILLE, IL',
  'FRENCH BROAD RIVER AT ROSMAN, NC',
  'BEETREE CREEK NEAR SWANNANOA, NC',
  'W F PIGEON R ABOVE LAKE LOGAN NR HAZELWOOD, NC',
  'EAST FORK PIGEON RIVER NEAR CANTON, NC',
  'CATALOOCHEE CREEK NEAR CATALOOCHEE, NC',
  'SOUTH TOE RIVER NEAR CELO, NC',
  'S F HOLSTON RIVER AT RIVERSIDE NR CHILHOWIE, VA',
  'S F HOLSTON RIVER NEAR DAMASCUS, VA',
  'WATAUGA RIVER NEAR SUGAR GROVE, NC',
  'N F HOLSTON RIVER NEAR SALTVILLE, VA',
  'LITTLE RIVER NEAR MARYVILLE, TN',
  'LITTLE TENNESSEE RIVER NEAR PRENTISS, NC',
  'CARTOOGECHAYE CREEK NEAR FRANKLIN, NC',
  'NANTAHALA RIVER NEAR RAINBOW SPRINGS, NC',
  'PAINT ROCK RIVER NEAR WOODVILLE AL',
  'LITTLE YELLOW CREEK EAST NR BURNSVILLE, MS',
  'BUFFALO RIVER NEAR FLAT WOODS, TN',
  'KNIFE RIVER NEAR TWO HARBORS, MN',
  'NEMADJI RIVER NEAR SOUTH SUPERIOR, WI',
  'BAD RIVER NEAR ODANAH, WI',
  'STURGEON RIVER NEAR SIDNAW, MI',
  'TRAP ROCK RIVER NEAR LAKE LINDEN, MI',
  'TAHQUAMENON RIVER NEAR PARADISE, MI',
  'MANISTIQUE RIVER NEAR MANISTIQUE, MI',
  'STURGEON RIVER NEAR NAHMA JUNCTION, MI',
  'MIDDLE BRANCH ESCANABA RIVER AT HUMBOLDT, MI',
  'FORD RIVER NEAR HYDE, MI',
  'POPPLE RIVER NEAR FENCE, WI',
  'WOLF RIVER AT LANGLADE, WI',
  'AUGUSTA CREEK NEAR AUGUSTA, MI',
  'FISH CREEK NEAR CRYSTAL, MI',
  'WHITE RIVER NEAR WHITEHALL, MI',
  'PERE MARQUETTE RIVER AT SCOTTVILLE, MI',
  'MANISTEE RIVER NEAR SHERMAN, MI',
  'PINE RIVER NEAR RUDYARD, MI',
  'STURGEON RIVER AT WOLVERINE, MI',
  'STONY CREEK NEAR ROMEO, MI',
  'Tiffin River at Stryker OH',
  'Tymochtee Creek at Crawford OH',
  'Honey Creek at Melmore OH',
  'Rock Creek at Tiffin OH',
  'Conneaut Creek at Conneaut OH',
  'Brandy Run near Girard, PA',
  'TONAWANDA CREEK AT ATTICA NY',
  'GENESEE RIVER AT WELLSVILLE NY',
  'CANASERAGA CREEK ABOVE DANSVILLE NY',
  'CAYUGA INLET NEAR ITHACA NY',
  'INDEPENDENCE RIVER AT DONNATTSBURG NY',
  'BLACK RIVER AT COVENTRY, VT',
  'SHEYENNE RIVER NR WARWICK, ND',
  'SHEYENNE RIVER NR COOPERSTOWN, ND',
  'BALDHILL CREEK NR DAZEY, ND',
  'WILD RICE RIVER AT TWIN VALLEY, MN',
  'MIDDLE RIVER AT ARGYLE, MN',
  'WINTERING RIVER NR KARLSRUHE, ND',
  'WILLOW CREEK NR WILLOW CITY, ND',
  'VERMILION RIVER NR CRANE LAKE, MN',
  'LITTLE FORK RIVER AT LITTLEFORK, MN',
  'WHETSTONE RIVER NEAR BIG STONE CITY, SD',
  'JUMP RIVER AT SHELDON, WI',
  'SPIRIT RIVER AT SPIRIT FALLS, WI',
  'BIG EAU PLEINE RIVER AT STRATFORD, WI',
  'KICKAPOO RIVER AT LA FARGE, WI',
  'Turkey River at Garber, IA',
  'GRANT RIVER AT BURTON, WI',
  'PLATTE RIVER NEAR ROCKVILLE, WI',
  'ELKHORN CREEK NEAR PENROSE, IL',
  'Rapid Creek near Iowa City, IA',
  'Little Cedar River near Ionia, IA',
  'EDWARDS RIVER NEAR NEW BOSTON, IL',
  'White Breast Creek near Dallas, IA',
  'English Creek near Knoxville, IA',
  'Cedar Creek near Bussey, IA',
  'Fox River at Wayland, MO',
  'BEAR CREEK NEAR MARCELLINE, IL',
  'North River at Palmyra, MO',
  'Crooked Creek near Paris, MO',
  'Lick Creek at Perry, MO',
  'Spencer Cr. bl Plum Cr. nr Frankford, MO',
  'CUIVRE RIVER NEAR TROY, MO',
  'SUGAR CREEK AT MILFORD, IL',
  'BIG BUREAU CREEK AT PRINCETON, IL',
  'LA MOINE RIVER AT COLMAR, IL',
  'LA MOINE RIVER AT RIPLEY, IL',
  'WHITLEY CREEK NEAR ALLENVILLE, IL',